body{
    background-color: #202020;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
html{
    height: 1000px;
}
.YouTube{
    display: flex;
    flex-direction: column;
}
.Head-Div{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(65, 63, 63);
    background-color: rgba(40, 40, 40, 1);
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
.rigthScroll{
    border: 10px solid yellow;
}
.Head-Div .start{   
    width: 169px;
    height: 56px;
    position: absolute;
    width: 255px;
    height: 48px;
    left: 22px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.start .Bar{
    width:28px;
    height: 27px;
}
.start .logo{
    width: 115px;
    height: 35px;
    padding:5px 14px 13px 16px;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 820px;
    height: 40px;
}
.center .searchbox{
    width:500px;    
    display: flex;
    align-items: center;
}
.Head-Div .end{
    position: absolute;
    width: 255px;
    height: 57px;
    right: 39px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    float: right;
}
.Head-Div .end .camara{
    width: 35px;
    height: 29px;
    margin-right: 19px;
    margin-bottom: 8px;
}
.Head-Div .end .message{
    width: 24px;
    height: 31px;
    margin-right: 24px;
    margin-bottom: 8px;

}
.glass-div{
    width: 60px;
    height: 40px;
    background-color: #313131;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa-magnifying-glass{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa-microphone{
    width: 24px;
    height: 24px;
}
.start{
    display: flex;
    flex-direction: row;
}
.Head-Div .end .google{
    width: 45px;
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;

}
/*
.middle-Div{
    width: 250px;
    height: 100%;
    border: 1px solid white;
}
*/
.search{
    width: 500px;
    height: 25px;
    background-color: #121212;
    color: white;
    border: 0;
}
input:focus{
    outline: none;
}
::placeholder{
    font-size: 17px;
}
.Type{
    width: 100%;
    height: 58px;
    position: absolute;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-top: 55px;
    padding-left: 83px;
    background-color: rgba(40, 40, 40, 1);
    z-index: 0;
}
.searchbox{
    width: 650px;
    height: 40px;
    background-color: #121212;
    margin-left: 40px;
    
}
.youtube-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 50px;
    margin-left: 19px;
}
.youtube-write{
    color: white;
    font-weight: bold;
}
.fa-microphone{
    width: 24px;
    height: 24px;
    color: white;
}
.microphone-div{
    width: 39px;
    height: 35px;
    background-color: #181818;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    margin-left:10px;
    margin-right: 20px;
}
.middle-Div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.middle-Div .leftScroll{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top:60px;
    background-color: rgba(40, 40, 40, 1);
}
.leftScroll::-webkit-scrollbar{
    width: 9px;
}
.leftScroll::-webkit-scrollbar-thumb{
    height: 30%;
    background: rgba(113, 113, 113, 1);
    border-radius: 10px;
}
.leftScroll::-webkit-scrollbar-track{
    background: rgba(40, 40, 40, 1);
}
.left-Div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
.left-Font{
    color: white;
    font-size: 14px;
}
.middle-Div .leftScroll .left-Div{
    display: flex;
    align-items: center;
    padding:0 24px 0 20px;
}
.leftScroll .left-Div img{
    width: 31px;
    height: 29px;
}
.middle-Div .leftScroll .left-Div:hover{
    background-color: #383838;
}
.leftScroll .left-Div img{
    margin-right: 24px;
}

.fa-youtube{
    color: red;
    width: 90px;
    height: 26px;
}
.fa-bars{
    color: white;
}
.TypeBox{
    width: 55px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.RightBox{
    width: 67px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox2{
    width: 94px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.TypeBox-Animation{
    width: 99px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-New
{
    width: 179px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-Visited{
    width: 110px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-New2{
    width: 140px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.RightBox1{
    width: 80px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TypeBox1{
    width: 70px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox P{
    display: flex;
    align-items: center;
}
.TypeBox1 P{
    display: flex;
    align-items: center;
}
.TypeBox-Animation p{
    display: flex;
    align-items: center;
}
.TypeBox-New p{
    display: flex;
    align-items: center;
}
.TypeBox-Visited p{
    display: flex;
    align-items: center;
}
.TypeBox-New2 p{
    display: flex;
    align-items: center;
}

.RightBox3{
    width: 190px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox2{
    width: 110px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-Font{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 300;
    margin: 0;
}
.RightBox4{
    width: 120px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox5{
    width: 150px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rigthScroll .video{
    width:1000px;
    height: 200px;
    background-color: #181818;
}
.rigthScroll{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction:column;
}
.video p{
    color: white;
}
#icon{
    color: white;
    margin-right: 25px;
    margin-left: 7px;
}
hr{
    margin: 0;
    border: 0.5px solid #373737;
}
.leftScroll{
    display: flex;
    flex-direction: column;
}
#icon-under{
    margin-bottom: 10px;
}
#div-under{
    margin-bottom: 10px;
}
#div-top{
    margin-top: 10px;
}
#YouTube-icon{
    color: red;
    margin-right: 25px;
    margin-left: 7px;
}
#img-icon{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:visited{
    color: white;
    text-decoration-line: none;
}
a:link{
    color: white;
    text-decoration-line: none;
}
.information .top a , .information .middle a{
    font-size: 13px;
    margin-right: 3px;
    color: #aaaa9d;
}
.information .top{
    padding: 16px 24px 0;
}
.information .middle{
    padding: 12px 24px 0;
}
.information .bottom{
    padding: 16px 27px;
}
.information .bottom div{
    font-size: 12px;
    color: rgba(110, 107, 97, 1);
}
.icon-div-title1{
    color: white;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.icon-div-title2{
    color: #AAAAAA;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.icon-div-title3{
    color: #AAAAAA;
    font-weight: bold;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.TopIcon-Div{
    margin-top: 10px;
}
.TypeBox:hover , .TypeBox1:hover , .TypeBox-Animation:hover , .TypeBox-New:hover , .TypeBox-New2:hover , .TypeBox-Visited:hover{
    background-color: rgb(110, 109, 109);
}
.video-content{
    width: 290px;
    height:288px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;

}
.middle-title{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 295.99px;
    text-align: left;
}
.mix-middle-title{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.mix-video-title{
    width: 271.94px;
    height: 38.4px;
    font-size: 14px;
    font-family: "Roboto","Arial",sans-serif;
}
.video-div-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
}
.channel-div{
    margin: 12px 12px 0 0;
}
.video .video-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    height: 300px;
}
.details{
    width: 243.99px;
    height: 94px;
    display: flex;
    flex-direction: row;
}
.channel{
    width: 43px;
    height: 43px;
    border-radius: 30px;
    background-color: white;
}
.video-title{
    font-size: 14px;
    font-family: "Roboto","Arial",sans-serif;
    width: 224.8px;
    height: 38.4px;
    display: flex;
    justify-content: start;
}
.Thumbnail{
    width: 295.99px;
    height: 166.9px;
}
.video{
    width: 1290px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 115px;
    margin-left: 240px;
    flex-direction: column;
}
.google-profile{
    width: 33px;
    height: 33px;
    border-radius: 30px;
    background-color: #264b3f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.fa-user{
    color: #b9c8c6;
    padding-top: 6px;
}
.bell{
    margin-right: 8px;
}
.fa-ellipsis-vertical{
    color: white;
    padding: 10px 0 0 7px;
}