body{
    background-color: #202020;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
html{
    height: 1000px;
}
.YouTube{
    display: flex;
    flex-direction: column;
}
.Head-Div{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(65, 63, 63);
    padding: 0px 0px 0px 22px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.rigthScroll{
    border: 10px solid yellow;
}
.Head-Div .start{   
    width: 169px;
    height: 56px;
    position: absolute;
    width: 255px;
    height: 48px;
    left: 22px;
    display: flex;
    align-items: center;
}
.start .Bar{
    width:28px;
    height: 27px;
}
.start .logo{
    width: 115px;
    height: 35px;
    padding:5px 14px 13px 16px;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 770px;
    height: 40px;
}
.center .searchbox{
    width:500px;    
    display: flex;
    align-items: center;
}
.Head-Div .end{
    position: absolute;
    width: 255px;
    height: 57px;
    right: 39px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    float: right;
}
.Head-Div .end .camara{
    width: 35px;
    height: 29px;
    margin-right: 21px;
    margin-bottom: 8px;
}
.Head-Div .end .message{
    width: 24px;
    height: 31px;
    margin-right: 24px;
    margin-bottom: 8px;

}
.Head-Div .end .google{
    width: 45px;
    height: 40px;
    margin-bottom: 8px;

}
/*

.middle-Div{
    width: 250px;
    height: 100%;
    border: 1px solid white;
}
*/
.search{
    width: 495px;
    height: 25px;
    background-color: #121212;
    color: white;
    border: 0;
}
input:focus{
    outline: none;
}
::placeholder{
    font-size: 17px;
}
.searchbox{
    width: 600px;
    height: 40px;
    background-color: #121212;
    margin-left: 40px;
    
}
.fa-magnifying-glass{
    width: 24px;
    height: 24px;
    color: white;
}
.fa-microphone{
    width: 24px;
    height: 24px;
    color: white;
}
.microphone-div{
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}
.middle-Div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.middle-Div .leftScroll{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.left-Div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
.left-Font{
    color: white;
    font-size: 14px;
}
.middle-Div .leftScroll .left-Div{
    display: flex;
    align-items: center;
    padding:0 24px 0 20px;
}
.leftScroll .left-Div img{
    width: 31px;
    height: 29px;
}
.middle-Div .leftScroll .left-Div:hover{
    background-color: #383838;
}
.leftScroll .left-Div img{
    margin-right: 24px;
}
.Type{
    width: 100%;
    height: 58px;
    position: absolute;
    border-bottom: 1px solid #373737;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.TypeBox{
    width: 55px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.RightBox{
    width: 67px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox2{
    width: 94px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.TypeBox-Animation{
    width: 99px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-New
{
    width: 179px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-Visited{
    width: 110px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox-New2{
    width: 140px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.RightBox1{
    width: 80px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TypeBox1{
    width: 70px;
    height: 33px;
    font-size: 14px;
    color: white;
    background-color: #373737;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
.TypeBox P{
    display: flex;
    align-items: center;
}
.TypeBox1 P{
    display: flex;
    align-items: center;
}
.TypeBox-Animation p{
    display: flex;
    align-items: center;
}
.TypeBox-New p{
    display: flex;
    align-items: center;
}
.TypeBox-Visited p{
    display: flex;
    align-items: center;
}
.TypeBox-New2 p{
    display: flex;
    align-items: center;
}

.RightBox3{
    width: 190px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox2{
    width: 110px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-Font{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 300;
    margin: 0;
}
.RightBox4{
    width: 120px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.RightBox5{
    width: 150px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rigthScroll .video{
    width:1000px;
    height: 200px;
    background-color: #181818;
}
.rigthScroll{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction:column;
}
.video p{
    color: white;
}
#icon{
    color: white;
    margin-right: 25px;
    margin-left: 7px;
}
hr{
    margin: 0;
    border: 0.5px solid #373737;
}
.leftScroll{
    display: flex;
    flex-direction: column;
}
#icon-under{
    margin-bottom: 10px;
}
#div-under{
    margin-bottom: 10px;
}
#div-top{
    margin-top: 10px;
}
#YouTube-icon{
    color: red;
    margin-right: 25px;
    margin-left: 7px;
}
a:visited{
    color: white;
    text-decoration-line: none;
}
a:link{
    color: white;
    text-decoration-line: none;
}
.information .top a , .information .middle a{
    font-size: 13px;
    margin-right: 3px;
    color: #aaaa9d;
}
.information .top{
    padding: 16px 24px 0;
}
.information .middle{
    padding: 12px 24px 0;
}
.information .bottom{
    padding: 16px 27px;
}
.information .bottom div{
    font-size: 12px;
    color: rgba(110, 107, 97, 1);
}
.icon-div-title1{
    color: white;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.icon-div-title2{
    color: #AAAAAA;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.icon-div-title3{
    color: #AAAAAA;
    font-weight: bold;
    font-size: 14px;
    padding-left: 25px;
    margin-bottom:10px;
}
.TopIcon-Div{
    margin-top: 10px;
}
.TypeBox:hover , .TypeBox1:hover , .TypeBox-Animation:hover , .TypeBox-New:hover , .TypeBox-New2:hover , .TypeBox-Visited:hover{
    background-color: rgb(110, 109, 109);
}